body {
    background-color: #ffffff;
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
  }
  
  body {
    background: linear-gradient(to right, #e49581de, #dd9e6e);
    margin: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  footer {
    position: relative;
    margin-top: auto;
  }
  
.smaller-h4 {
  font-size: 1rem;
}